body{
    background-color: #d0eda2;}
body>div>h1{
    text-align: center;
 }
a{
    cursor: pointer;
}
.form{
    background-color: white;
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
}
.form>form{
    padding: 0px 10px;
}
.form>form>input{
    margin: 0px 0px 20px 0px;
    width: 280px;
}

 .form>form>textarea{
   resize: none;
   width: 280px;
 }
 .col{
    width: 400px;
    background-color: white;
    border-radius: 20px;
     height: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
}
.col>h2{
    text-align: center;
}
 .col>li{
     background-color: #a6d7ef;
     border-radius: 20px;
     list-style-type: none;
     padding: 10px 15px;
     width: 300px;
     word-wrap: break-word;
     margin-bottom: 20px;
 }
 .col>li>p{
     text-align: center;
     font-weight: bold;

 }
 .col>li>a{
     color: green;
 }
 .col>li>ul{
     list-style-type: none;
     padding-left: 0px;
 }
 .col>li>ul>li>form>p>textarea{
     resize: none;
     width: 240px;
 }

.col>li>ul>li>form>p>input{
    width: 240px;
}
 .change{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .change>a:first-child{
     color: red;
 }
 .change>a:nth-child(2){
     color: yellow;
 }
.change>a:last-child{
    color: green;
}
.change1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.change1>a:first-child, .change2>a:nth-child(2){
    color: yellow;
}
.change1>a:last-child{
    color: green;
}
.change2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.change2>a:first-child, .change2>a:last-child{
    color: green;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1050;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
    margin: 0;
    padding: 0;
}
.modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.btnModal{
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: 13pt;
    background: white;
    padding: 10px;
    font-weight: bold;}
.btn{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.column{
    display: flex;
    justify-content: space-around;
}
.tasks1{
    color:green;
    font-weight: bold;
}
.tasks2{
    color:red;
    font-weight: bold;
}
.close{
    text-decoration: none;
    position: relative;
    left: 130px;
    color: black;
}